body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background-color: rgb(245, 242, 242);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(20, 203, 212, 0.2);
    width: 350px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.form-container:hover {
    box-shadow: 0 20px 40px rgba(25, 217, 234, 0.9);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #218838;
    box-shadow: 0 0 10px #218838, 0 0 20px #218838, 0 0 30px #218838;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
